name: Build

on:
  workflow_call:

defaults:
  run:
    shell: bash -l {0}

env:
  CACHE_NAME: node-modules-cache
  BUILD_CACHE_NAME: build-cache

jobs:
  Build:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      pull-requests: write

    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@b25f731bf2f9eb9748c2e9757d366c3e72fa2109 # v1.0.2-beta8
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          registry-url: 'https://registry.npmjs.org'

      - name: Restore Cache
        uses: actions/cache/restore@v5
        id: npm-cache
        with:
          path: |
            node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json') }}

      - name: Build
        run: npm run build

      - name: Confirm the build hasn't changed any files
        run: ./check-pristine-state package-lock.json

      - name: Run tests
        run: npm test
