name: release

on:
  release:
    types: [ published ]

defaults:
  run:
    shell: bash -l {0}

env:
  CACHE_NAME: node-modules-cache

permissions: {}

jobs:
  Create-NPM-Cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: ".nvmrc"
          registry-url: 'https://registry.npmjs.org'

      - name: Upload to Cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: npm-cache
        with:
          path: |
            node_modules/
          key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: ${{ steps.npm-cache.outputs.cache-hit != 'true' }}
        run: npm ci

  Release:
    name: Release @skyscanner/bpk-svgs to NPM
    runs-on: ubuntu-latest
    environment: Publishing
    needs: [Create-NPM-Cache]
    steps:
    - name: Checkout source code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        ref: main
        persist-credentials: false

    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version-file: ".nvmrc"
        registry-url: 'https://registry.npmjs.org'

    - name: Restore Cache
      uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      id: npm-cache
      with:
        path: |
          node_modules/
        key: ${{ env.CACHE_NAME }}-${{ hashFiles('package-lock.json') }}

    - run: npm run build

    - name: Confirm the build hasn't changed any files
      run: ./check-pristine-state package-lock.json

    - name: Publish NPM package
      run: |
        npm version $RELEASE_VERSION --no-git-tag-version
        npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        RELEASE_VERSION: ${{ github.event.release.tag_name }}
